.CourseMenu {
  margin: 0 0 100px;
  box-shadow:  5px 10px 10px rgb(0, 0, 0);
  background:linear-gradient(0deg, rgb(23, 18, 49), rgb(0, 0, 0));
  display: flex;
  
}

.CourseMenu nav{
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.CourseMenu ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.Menu li {
  display: flex;
}

.CourseMenu li a {
  flex:1;
  display: flex;
  text-align: center;
  max-width: 190px;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  transition-property: color;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.CourseMenu img {
  margin: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 0.1) 3px;
}

.CourseMenu a:hover {
  padding: 20px;
  background-color: white;
  color: rgb(23, 18, 49);
}


@media (max-width: 1210px) {
  .CourseMenu {
    font-size: 20px;
  }

  .CourseMenu img{
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 645px) {
  .CourseMenu {
    font-size: 15px;
  }

  .CourseMenu img{
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 575px) {
  .CourseMenu {
    font-size: 15px;
  }

  .CourseMenu img{
    width: 40px;
    height: 40px;
  }

  .CourseMenu li a {
    padding: 10px;
  }

  .CourseMenu li a:hover {
    padding: 10px;
  }
  
}

@media (max-width: 445px) {
  .CourseMenu {
    font-size: 15px;
  }

  .CourseMenu img{
    width: 30px;
    height: 30px;
  }

  .CourseMenu li a {
    padding: 5px;
  }

  .CourseMenu li a:hover {
    padding: 5px;
  }
}
