.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 350px;
  box-shadow:  10px 5px 20px rgb(0, 0, 0);
  background:  linear-gradient(0deg, rgb(23, 18, 49), rgb(0, 0, 0));
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 23%;
}

.Menu h4 {
  text-align: center;
  font-style: oblique;
  font-weight: lighter;
  font-size: 18px;
  margin: 5px;
}

.Menu nav {
  flex: 1;
  margin-top: 10px;
}

.Menu ul {
  list-style: none;
  padding: 0;
}

.Menu li {
  display: flex;
  width: 94%;
}

.Menu li a {
  flex: 1;
  padding: 8px 20px 8px 45px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition-property: color;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.Menu li a:hover {
  padding: 8px 20px 8px 45px;
  background-color: rgb(255, 255, 255);
  color: rgb(23, 18, 49);
}


@media (max-width: 1210px) {
  .Menu {
    background: none;
    box-shadow: none;
  }

  .Menu h4 {
    font-size: 13px;
  }

  .Menu li {
    text-align: center;
    margin-left: 5px;
  }
  
  .Menu li a {
    font-size: 1rem;
  }

  .Menu li a:hover {
    background-color: transparent;
    color: rgb(153, 145, 145);
  }
}

@media (max-width: 900px) {
  .Menu {
    width: 100%;
    height: 27%;
    flex-direction: row;
    overflow: hidden;
    background:  linear-gradient(0deg, rgb(23, 18, 49), rgb(0, 0, 0));

  }
  
  .Menu ul {
    margin: 0;
    text-align: center;
    float: right;
  }

  .Menu li {
    margin: 0;
   display: inline;
  }
  .Menu li a {
    margin: 0;
    display: inline-block;
    padding: 5px 10px 8px 10px;
    font-size: 15px;
  }

  .Menu li a:hover {
    margin: 0;
    padding: 5px 10px 8px 10px;
  }
}

@media (max-width: 750px) {
  .Menu ul{
   margin-top: 15px;
  }
  .Menu li {
    display: inline-block;
  }
}